.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.error {
    color: #f70707;
    font-size: 0.9rem;
}

.user-card {
    display: flex;
    gap: 20px;
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    align-items: center;
    flex-direction: column;
    border: 1px solid #334155;
}

.info {
    flex: 1;
    width: 100%;
}

.info h3 {
    margin-top: 0;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.info p {
    margin: 5px 0;
    color: #cbd5e1;
    font-size: 0.95rem;
}

.skill-tag {
    display: inline-block;
    background-color: #334155;
    color: #cbd5e1;
    border: 1px solid #475569;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    font-size: 0.85rem;
}